frappe.ui.form.on("{{ doctype }}", {
    {% if has_child ==0 %}
        setup:function(frm){
            uph.party.setups(frm);
            uph.party.set_party_query(frm,{{party_fieldname}});
        },
        party_master: function(frm) {
            uph.party.handle_party_master_change(frm);
        },
        refresh:function(frm){
            if (frm.doc.party_master){
                uph.party.set_party_query(frm);
            }
        },
        {{party_fieldname}}: function(frm) {
            uph.party.on_party_field_change(frm);
            uph.party.check_duplicate_party_master(frm);
        },
        {% if date_fieldname%}
        {{date_fieldname}}:function(frm) {
            uph.party.check_duplicate_party_master(frm);

        },
        {% endif %}
        before_submit:function(frm){
            uph.party.check_duplicate_party_master(frm,true);

        }
    {% endif %}

});
{% if has_child==1 and child_doctype %}
frappe.ui.form.on("{{ child_doctype }}", {
        {% for event in events %}
        {{ event }}: function(frm) {
            // Custom logic for {{ doctype }}
            {% if event == 'refresh' %}

            {% endif %}
        },
        {% endfor %}
    });

{% endif %}
