{{- $href := .Get "href" -}}
{{- if and $href (not ((urls.Parse $href).IsAbs)) (hasPrefix $href "/") -}}
  {{- $href = $href | relLangURL -}}
{{- end -}}
{{- $isRemote := (urls.Parse $href).IsAbs -}}
{{- $class := "book-btn" -}}
{{- $target := "" -}}
{{- $rel := "" -}}

{{- if $isRemote -}}
  {{- $target = "_blank" -}}
  {{- $rel = "noopener" -}}
{{- end -}}

<a href="{{ $href }}" {{ with $target }}target="{{ . }}"{{ end }} {{ with $rel }}rel="{{ . }}"{{ end }} class="{{ $class }}">
  {{- with .Get "text" -}}
    {{ . }}
  {{- else -}}
    {{ .Inner }}
  {{- end -}}
</a>
